<p>Координата X</p>
<p>
  <p-dropdown [options]="validXs" [(ngModel)]="x"></p-dropdown>
</p>
<p>Координата Y</p>
<p>
  <span class="ui-float-label">
    <input pInputText id="inputY" type="text" [(ngModel)]="y">
    <label for="inputY">Введите число от {{ validYs.min }} до {{ validYs.max }}</label>
  </span>
</p>
<p>Радиус</p>
<p>
  <p-dropdown [options]="validRs" [(ngModel)]="r"></p-dropdown>
</p>
<p>
  <button pButton type="button" label="Отправить" [disabled]="!isFormValid" (click)="handleClick()"></button>
</p>
