#figure * {
  fill: aquamarine;
}

#axes line {
  stroke: black;
}

#axes polygon, #axes circle {
  fill: black;
}

#axes text {
  font-family: monospace;
}

p-slider {
  display: block;
  width: 300px;
}
