#figure * {
  fill: aquamarine;
}

#axes line {
  stroke: black;
}

#axes polygon, #axes circle {
  fill: black;
}

#axes text {
  font-family: monospace;
}

circle.noRadius, circle.fits0, circle.fits1 {
  stroke: black;
}

circle.noRadius {
  fill: #aaaaaa;
}

circle.fits0 {
  fill: #ff0000;
}

circle.fits1 {
  fill: #00ff00;
}

p-slider {
  display: block;
  width: 300px;
}
