<p [hidden]="!shared.authError">
    При попытке входа возникла ошибка
</p>
<p>
  <input pInputText [(ngModel)]="shared.username" type="text">
</p>
<p>
  <input pPassword [(ngModel)]="shared.password" type="password">
</p>
<p>
  <input pPassword [(ngModel)]="confirmPassword" type="password">
</p>
<p [style.color]="'red'" [hidden]="shared.password === confirmPassword">
    Пароли не совпадают
</p>
<p>
  <button pButton type="button" label="Зарегистрироваться" [disabled]="shared.isAttemptingLogin || shared.password !== confirmPassword" (click)="shared.register($event)"></button>
</p>
