<div class="p-grid">
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div [style.visibility]="shared.authError ? 'visible' : 'hidden'" class="p-col-10 p-md-8 p-lg-6 p-xl-4">
      При попытке входа возникла ошибка
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-10 p-md-8 p-lg-6 p-xl-4">
    <span class="ui-float-label">
      <input type="text" pInputText id="inputLogin" [(ngModel)]="shared.username">
      <label for="inputLogin">Имя пользователя</label>
    </span>
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-10 p-md-8 p-lg-6 p-xl-4">
    <span class="ui-float-label">
      <input type="password" pPassword id="inputPassword" [(ngModel)]="shared.password">
      <label for="inputPassword">Пароль</label>
    </span>
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-10 p-md-8 p-lg-6 p-xl-4">
    <span class="ui-float-label">
      <input type="password" pPassword id="inputConfirmPassword" [(ngModel)]="confirmPassword" [feedback]="false">
      <label for="inputConfirmPassword">Повторите пароль</label>
    </span>
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div [style.color]="'red'" [style.visibility]="shared.password === confirmPassword ? 'hidden' : 'visible'" class="p-col-10 p-md-8 p-lg-6 p-xl-4">
      Пароли не совпадают
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
  <div class="p-col-5 p-md-4 p-lg-3 p-xl-2">
    <button type="button" pButton label="Зарегистрироваться" [disabled]="shared.isAttemptingLogin || shared.password !== confirmPassword" (click)="register()"></button>
  </div>
  <div class="p-col-5 p-md-4 p-lg-3 p-xl-2">
    <button type="button" pButton label="У меня есть аккаунт" [disabled]="shared.isAttemptingLogin" (click)="router.navigateByUrl('/login')"></button>
  </div>
  <div class="p-col-1 p-md-2 p-lg-3 p-xl-4"></div>
</div>
